<div class="mdl-grid">
  <md-card *ngFor="let datum of data"
          (@flyInOut.start)="animationStarted($event)"
          (@flyInOut.done)="animationDone($event)"
          [@flyInOut]="'in'"
          [@datumState]="active"
          [@refugeeCount]="grow"
          (click)="datum.toggleState()">
        {{datum.Country}}
        <span>{{datum["Refugee Count"]}}</span>
  </md-card>
  <div class="bar">

  </div>
  <!-- <md-card *ngFor="let datum of data"
      [@flyInOut]="in"
      (click)="datum.toggleState()">
      {{datum.name}}
  </md-card> -->
    <!-- {{data | json}} -->
   <!-- <button *ngFor="let datum of data"
       [@datumState]="datum.state"
       [@grow]="datum.width"
       (click)="datum.toggleState()"
       md-raised-button>
       {{datum.name}}
   </button> -->
</div>
