<div class="mdl-grid">
  <!-- <md-card *ngFor="let datum of data"
          (@flyInOut.start)="animationStarted($event)"
          (@flyInOut.done)="animationDone($event)"
          [@flyInOut]="'in'"
          [@datumState]="datum.state"
          (click)="datum.toggleState()">
        {{datum.name}}
        <span>{{datum.state}}</span>
  </md-card> -->
  
  <!-- <md-card *ngFor="let datum of data"
      [@flyInOut]="in"
      (click)="datum.toggleState()">
      {{datum.name}}
  </md-card> -->
    <!-- {{data | json}} -->
   <!-- <button *ngFor="let datum of data"
       [@datumState]="datum.state"
       (click)="datum.toggleState()"
       md-raised-button>
       {{datum.name}}
   </button> -->
</div>
