
md-card {
  float: left;
  height: 60px;
  padding: 0;
  width: 20%;
  color: #FCF4D9;
}
p {
  text-align: center;
  margin-top: 10px;
}
:host {
  height: 600px;
}
.container {
  width: 100%;
  height: 80%;
}
.mdl-grid {
  margin-top: 12px;
  width: 100%;
  border: 1px solid #FCF4D9;
}

img {
  width: 10%;
  // height: 20%;
  // background-color: #FCF4D9;
}
