<md-card-actions class="" align="end">
  <button type="button" name="prev" (click)="dec$.next()" md-raised-button><</button><button type="button" (click)="inc$.next()" name="next" md-raised-button>></button>
</md-card-actions>

<md-card-content>

  <div class="mdl-grid" *ngIf="current>3">
    <md-card-title>Actual Distributition of Wealth</md-card-title>
    <app-horizontal-bar [data]="data">
    </app-horizontal-bar>
  </div>

  <div class="mdl-grid" *ngIf="current>2">
    <md-card-title>What Americans Think it is</md-card-title>
    <app-horizontal-bar [data]="guessData">{{guessData| json}}
    </app-horizontal-bar>
  </div>

  <div class="mdl-grid" *ngIf="current > 1">
    <md-card-title>What Americans want</md-card-title>
    <app-horizontal-bar [data]="idealData" *ngIf="current>1">
    </app-horizontal-bar>
  </div>

  <div class="mdl-grid" *ngIf="current > 0">
    <md-card-title>Percentile</md-card-title>
    <md-card *ngFor="let datum of data" [@flyInOut]="'in'" [@datumState]="active" [@income]="grow" [style.backgroundColor]='datum.color' (click)="datum.toggleState()">
      <p>20%</p>
    </md-card>
  </div>
</md-card-content>
